{$HOSTNAME} {
	route /app/serviceWorker.js {
		header Content-Type "text/javascript; charset=utf-8"
		header Cache-Control "no-store, no-cache, must-revalidate"
		respond "self.addEventListener('install', event => self.skipWaiting()); self.addEventListener('activate', event => event.waitUntil((async () => { const keys = await caches.keys(); await Promise.all(keys.map(key => caches.delete(key))); await self.registration.unregister(); const clients = await self.clients.matchAll({ type: 'window', includeUncontrolled: true }); for (const client of clients) client.navigate('/'); })()));" 200
	}

	route /app/assets* {
		uri strip_prefix /app
		reverse_proxy http://syrnike13-web-1:5000
	}

	route /app/manifest.webmanifest {
		uri strip_prefix /app
		reverse_proxy http://syrnike13-web-1:5000
	}

	route /api* {
		uri strip_prefix /api
		reverse_proxy http://syrnike13-api-1:14702 {
			header_down Location "^/" "/api/"
		}
	}

	route /ws {
		uri strip_prefix /ws
		reverse_proxy http://syrnike13-events-1:14703 {
			header_down Location "^/" "/ws/"
		}
	}

	route /autumn* {
		uri strip_prefix /autumn
		reverse_proxy http://syrnike13-autumn-1:14704 {
			header_down Location "^/" "/autumn/"
		}
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://syrnike13-january-1:14705 {
			header_down Location "^/" "/january/"
		}
	}

	route /gifbox* {
		uri strip_prefix /gifbox
		reverse_proxy http://syrnike13-gifbox-1:14706 {
			header_down Location "^/" "/gifbox/"
		}
	}

	route /livekit* {
		uri strip_prefix /livekit
		reverse_proxy http://syrnike13-livekit-1:7880 {
			header_down Location "^/" "/livekit/"
		}
	}

	route /ingress* {
		uri strip_prefix /ingress
		reverse_proxy http://syrnike13-voice-ingress-1:8500 {
			header_down Location "^/" "/ingress/"
		}
	}

	@stable_download path /downloads/syrnike13.dmg /downloads/syrnike13-setup.exe /downloads/syrnike13.AppImage
	handle @stable_download {
		root * /srv/desktop
		uri strip_prefix /downloads
		header Cache-Control "no-cache"
		file_server
	}

	handle_path /downloads/desktop/* {
		root * /srv/desktop

		@manifest path_regexp manifest \.yml$
		header @manifest Cache-Control "no-cache"

		@artifacts path_regexp artifact \.(exe|zip|dmg|AppImage|blockmap|7z)$
		header @artifacts Cache-Control "public, max-age=31536000, immutable"

		file_server
	}

	reverse_proxy http://syrnike13-web-1:5000
}

{$NIGHTLY_HOSTNAME:beta.syrnike13.ru} {
	route /app/serviceWorker.js {
		header Content-Type "text/javascript; charset=utf-8"
		header Cache-Control "no-store, no-cache, must-revalidate"
		respond "self.addEventListener('install', event => self.skipWaiting()); self.addEventListener('activate', event => event.waitUntil((async () => { const keys = await caches.keys(); await Promise.all(keys.map(key => caches.delete(key))); await self.registration.unregister(); const clients = await self.clients.matchAll({ type: 'window', includeUncontrolled: true }); for (const client of clients) client.navigate('/'); })()));" 200
	}

	route /app/assets* {
		uri strip_prefix /app
		reverse_proxy http://syrnike13-nightly-web:5000
	}

	route /app/manifest.webmanifest {
		uri strip_prefix /app
		reverse_proxy http://syrnike13-nightly-web:5000
	}

	route /api* {
		uri strip_prefix /api
		reverse_proxy http://syrnike13-nightly-api:14702 {
			header_down Location "^/" "/api/"
		}
	}

	route /ws {
		uri strip_prefix /ws
		reverse_proxy http://syrnike13-nightly-events:14703 {
			header_down Location "^/" "/ws/"
		}
	}

	route /autumn* {
		uri strip_prefix /autumn
		reverse_proxy http://syrnike13-nightly-autumn:14704 {
			header_down Location "^/" "/autumn/"
		}
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://syrnike13-nightly-january:14705 {
			header_down Location "^/" "/january/"
		}
	}

	route /gifbox* {
		uri strip_prefix /gifbox
		reverse_proxy http://syrnike13-nightly-gifbox:14706 {
			header_down Location "^/" "/gifbox/"
		}
	}

	route /livekit* {
		uri strip_prefix /livekit
		reverse_proxy http://syrnike13-nightly-livekit:7880 {
			header_down Location "^/" "/livekit/"
		}
	}

	route /ingress* {
		uri strip_prefix /ingress
		reverse_proxy http://syrnike13-nightly-voice-ingress:8500 {
			header_down Location "^/" "/ingress/"
		}
	}

	reverse_proxy http://syrnike13-nightly-web:5000
}
